<div class="row justify-content-center">
  <div class="col-12 filter-black text-white">
    <h4 class="pb-3">ユーザー情報編集ページ</h4>
    <%= form_with(model: @user, url: user_path, method: :patch, local: true, class: 'form-group') do |f| %>
    <div class="pb-3">
      <%= f.label :name, "ユーザー名" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="pb-3">
      <%= f.label :email, "メールアドレス" %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div class="pb-3 d-flex justify-content-start">
      <%= f.submit "編集内容を保存", class: "btn btn-sm btn-success d-block" %>
      <%= link_to("退会する", confirm_users_path, class: "btn btn-sm btn-danger d-block ml-auto") %>
    </div>
  <% end %>
  </div>
</div>

