<div class="row justify-content-center">
  <div class="col-12 filter-black justify-content-center">
    <div class="h-50px mb-3 d-flex pl-4">
      <h5 class="align-self-center mb-0 text-white"><%= current_user.name %> さんのマイページ</h4>
    </div>
    <div class="h-50px mb-3 d-flex pl-4 btn d-block btn-info">
      <h4 class="align-self-center mb-0">
        <%= link_to(events_path, class: 'text-white') do %>
          <i class="fas fa-users"></i> 投稿イベント
        <% end %>
      </h4>
    </div>
    <div class="h-50px mb-3 d-flex pl-4 btn d-block btn-info">
      <h4 class="align-self-center mb-0">
        <%= link_to(event_favorites_path, class: 'text-white') do %>
          <i class="fas fa-check-square"></i> イベント検討リスト
        <% end %>
      </h4>
    </div>
    <div class="h-50px mb-3 d-flex pl-4 btn d-block btn-info">
      <h4 class="align-self-center mb-0">
        <%= link_to(court_favorites_path, class: 'text-white') do %>
          <i class="far fa-heart"></i> コートお気に入り
        <% end %>
      </h4>
    </div>
    <div class="h-50px mb-3 d-flex pl-4 btn d-block btn-info">
      <h4 class="align-self-center mb-0">
        <%= link_to(event_histories_path, class: 'text-white') do %>
          <i class="fas fa-history"></i> イベント閲覧履歴
        <% end %>
      </h4>
    </div>
    <div class="h-50px mb-3 d-flex pl-4 btn d-block btn-info">
      <h4 class="align-self-center mb-0">
        <%= link_to(court_histories_path, class: 'text-white') do %>
          <i class="fas fa-history"></i> コート閲覧履歴
        <% end %>
      </h4>
    </div>
    <div class="h-50px mb-3 d-flex pl-4 btn d-block btn-info">
      <h4 class="align-self-center mb-0">
        <%= link_to(edit_user_path(current_user.id), class: 'text-white') do %>
          <i class="fas fa-users-cog"></i> ユーザー情報編集
        <% end %>
      </h4>
    </div>
  </div>
</div>