<!--method get or patch-->
<!--path confirm_events_path or event_path(@event.id)-->
<!--event: @event-->
<!--submit_btn_txt 入力内容を確認する　修正する-->

<div class="row justify-content-center">
  <div class="col-12 filter-black justify-content-center text-white pt-3">
    <h4 class="pb-3"><%= title %></h4>
      <div class="pb-3">
        <div>
          <i class="fab fa-dribbble"></i> コート名
        </div>
        <div class="pl-3 font-weight-bold">
          <%= event.court.name %>
        </div>
      </div>
    <%= form_with(model: event, url: path, method: method, local: true, class: 'form-group') do |f| %>
      <%= f.hidden_field(:court_id, value: event.court_id) %>
      <%= f.hidden_field(:user_id, value: current_user.id) %>
      <%= f.hidden_field(:status, value: true) %>
      <div class="pb-3">
        <div>
          <%= f.label(:name) do %>
            <i class="fas fa-users"></i> イベント名
          <% end %>
        </div>
        <div>
          <%= f.text_field(:name, class: 'w-100 form-control') %>
        </div>
      </div>

      <div class="pb-3">
        <div>
          <%= f.label(:image) do %>
            <i class="fas fa-image"></i> 画像
          <% end %>
        </div>
        <div>
          <%= f.attachment_field(:image, class: 'btn btn-sm text-white') %>
        </div>
      </div>

      <div class="pb-3">
        <div>
          <%= f.label(:open_time) do %>
          <i class="far fa-clock"></i> 開始時間
          <% end %>
        </div>
        <div>
          <%= f.datetime_select(:open_time, {use_month_numbers: true, default: Time.now(), minute_step: 15, class: 'form-control'}) %>
        </div>
      </div>

      <div class="pb-3">
        <div>
          <%= f.label(:close_time) do %>
            <i class="far fa-clock"></i> 終了時間
          <% end %>
        </div>
        <div>
          <%= f.datetime_select(:close_time, {use_month_numbers: true, default: Time.now(), minute_step: 15, class: 'form-control'}) %>
        </div>
      </div>

      <div class="pb-3">
        <div>
          <%= f.label(:contact) do %>
            <i class="fas fa-envelope"></i> 連絡先
          <% end %>
        </div>
        <div>
          <%= f.text_area(:contact, rows: 3, class: 'form-control') %>
        </div>
      </div>
      <div class="pb-3">
        <div>
          <%= f.label(:condition) do %>
            <i class="fas fa-exclamation-circle"></i> 参加条件
          <% end %>
        </div>
        <div>
          <%= f.text_area(:condition, rows: 5, class: 'form-control') %>
        </div>
      </div>
      <div class="pb-3">
        <div>
          <%= f.label(:description) do %>
            <i class="fas fa-comment-dots"></i> イベント説明
          <% end %>
        </div>
        <div>
          <%= f.text_area(:description, rows: 10, class: 'form-control') %>
        </div>
      </div>
      <% if action_name == 'edit'|| action_name == 'update' %>
        <div class="pb-3 mb-3">
          <div>
             <%= f.label(:status) do %>
             <i class="fas fa-door-open"></i> 募集ステータス
             <% end %>
          </div>
          <div>
            <%= f.select(:status, Event.statuses_i18n.collect {|elem| [elem.last, elem.first]}, {class: 'form-control'}) %>
          </div>
        </div>
      <% elsif action_name == 'new'|| action_name == 'create' %>
        <%= f.hidden_field(:status) %>
      <% end %>
      <div class="pb-3 d-flex justify-content-start">
        <%= f.submit(submit_btn_txt, class: 'btn btn-success d-block') %>
        <% if action_name == 'edit'|| action_name == 'update' %>
          <%= link_to('イベントを削除', event_path(event.id), method: 'delete', data: {confirm: '削除しますか？'}, class: 'btn btn-danger d-block ml-auto' ) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>