<!--show.htmlとあわせてプレビューとしちゃう-->

<div class="row bg-white justify-content-center">
  <div class="col-12  justify-content-center">
    <h2><%= @event.name %></h2>
      <%= hidden_field_tag(:use_id, current_user.id) %>
      <%= hidden_field_tag(:cour_id, @event.court_id) %>
      <%= hidden_field_tag(:open_time, @event.open_time) %>
      <%= hidden_field_tag(:close_time, @event.close_time) %>
      <%= hidden_field_tag(:condition, @event.condition) %>
      <%= hidden_field_tag(:description, @event.description) %>
      <%= hidden_field_tag(:contact, @event.contact) %>
      <%= hidden_field_tag(:image, @event.image_id) %>
      <%= hidden_field_tag(:status, true) %>

    <div>
      <%= attachment_image_tag(@event, :image, fallback: "no_img.png", size: "250x250") %>
    </div>
  </div>
  <div class="col-12  justify-content-center">
    <h2>イベント基本情報</h2>
  </div>
  <div class="col-12  justify-content-center">
    <%= @event.court.name %>
    <p><%= @event.court.address %></p>
    <p><%= @event.open_time %></p>
    <p><%= @event.close_time %></p>
    <p id="contact"><%= @event.contact %></p>
    <p><%= @event.condition %></p>
    <p><%= @event.description %></p>
  </div>
</div>