<div class="row filter-black justify-content-center">
  <div class="col-12 justify-content-center text-white">
   <h4 class="py-3">イベントコート選択</h4>
   <p class="pb-3">下のマップからコートを選択してください</p>
   <div id='map' class="big-map mb-5"></div>
   <div class="pb-3">
    <%= link_to('住所入力へ戻る', address_events_path, class: 'btn btn-sm btn-primary') %>
   </div>
   <div class="pb-3">
    <span>イベントをしたいコートが見つからない場合？</span>
    <div class="pt-1">
     <%= link_to('新しくコートを提供する', address_courts_path(address: @entered_address), class: 'btn btn-sm btn-success') %>
    </div>
   </div>
   <%= hidden_field_tag(:center_latitude, @center_lat) %>
   <%= hidden_field_tag(:center_longitude, @center_lng) %>
   <% @courts.each do |court| %>
    <%= hidden_field_tag(:name, court.name, {class: 'names', id: "#{court.name}_name"}) %>
    <%= hidden_field_tag(:confirmation_status, court.confirmation_status, {class: 'confirmation_statuses', id: "#{court.name}_status"}) %>
    <%= hidden_field_tag(:latitude, court.latitude, {class: 'latitudes', id: "#{court.name}_lat"}) %>
    <%= hidden_field_tag(:longitude, court.longitude, {class: 'longitudes', id: "#{court.name}_lng"}) %>
    <%= hidden_field_tag(:path, new_event_path(court_id: court.id), {class: 'links', id: "#{court.name}_links"}) %>
   <% end %>
 </div>
</div>