<div class="row justify-content-center">
  <div class="col-12 filter-black justify-content-center">
    <div>イベント検索結果</div>

    <div class="accordion" id="search_accordion">
      <div class="card bg-light">
        <div class="card-header" id="header-4a">
          <button class="btn btn-link text-success font-weight-bold" type="button" data-toggle="collapse" data-target="#serach_bar">
            絞り込み
            <%= submit_tag('絞り込む', {form: 'narrow_search'}) %>
          </button>
        </div>
        <div id="serach_bar" class="collapse" data-parent="#search_accordion">
          <div class="card-body">
            <%= form_with(model: Prefecture, url: events_path, method: 'get') do |f| %>
                <p>地区</p>
                <%= f.select(:id, Prefecture.all.collect { |pref| [pref.name, pref.id]}, {selected: params.dig(:prefecture, :id),prompt: "県を選択"}, \
                            {id: 'prefs_select', onchange: 'Rails.fire(this.form,"submit")'}) %>
            <% end %>
            <div id='areas_select'>
              <%= render(partial: 'layouts/areas', locals: {areas: @areas}) %>
            </div>
          </div>
          <%= form_with(model: Event, url: events_path, method: 'get',local: true, id: 'narrow_search') do |f| %>
            <div class="card-body">
              <p>時間</p>
              <div>
                <%= f.label(:open_time,'開始時間') %>
                <%= f.date_field(:open_time) %>
                <%= f.time_select(:open_time, {use_month_numbers: true, include_blank: true, ignore_date: true, minute_step: 15}, {form: 'narrow_search'}) %>
              </div>
              <div>
                <%= f.label(:close_time,'終了時間') %>
                <%= f.date_field(:close_time) %>
                <%= f.datetime_select(:close_time, {use_month_numbers: true, include_blank: true, ignore_date: true, minute_step: 15}, {form: 'narrow_search'}) %>
              </div>
            </div>
          <% end %>
      </div>
    </div>

    <% if @events.blank? %>
      <div>検索条件に一致するイベントがありません</div>
    <% else %>
      <% @events.each do |event| %>
        <div class="row bg-success mb-2">
          <%= link_to(event.name, event_path(event.id)) %><br>
          <!--リファクタリング-->
          <%= event.return_event_time %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>