<div class="row justify-content-center">
  <div class="col-12 filter-black justify-content-center">
    <div>イベント投稿</div>
      <div>
        コート名： <%= Court.find(@court_id).name %>
      </div>
    <%= form_with(model: @event, url: confirm_events_path, method: 'get', local: true) do |f| %>
      <%= f.hidden_field(:court_id, value: @court_id) %>
      <%= f.hidden_field(:use_id, value: current_user.id) %>
      <%= f.hidden_field(:status, value: true) %>
      <div>
        <%= f.label(:name, 'イベント名') %>
        <%= f.text_field(:name) %>
      </div>
      <div>
        <%= f.label(:image, '画像') %>
        <%= f.attachment_field(:image) %>
      </div>
      <div>
        <%= f.label(:open_time, '開始時間') %>
        <%= f.datetime_select(:open_time, {use_month_numbers: true, default: Time.now()}) %>
      </div>
      <div>
        <%= f.label(:close_time, '終了時間') %>
        <%= f.datetime_select(:close_time, {use_month_numbers: true, default: Time.now()}) %>
      </div>
      <div>
        <%= f.label(:condition, '参加条件') %>
        <%= f.text_field(:condition) %>
      </div>
      <div>
        <%= f.label(:contact, '連絡先') %>
        <%= f.text_field(:contact) %>
      </div>
      <div>
        <%= f.label(:description, 'イベント説明') %>
        <%= f.text_field(:description) %>
      </div>
      <div>
        <%= f.submit('入力内容を確認する') %>
      </div>
    <% end %>
  </div>
</div>