<div class="row filter-black text-white d-flex flex-column">
  <div class="col-12 justify-content-center my-3 py-3 text-white">
    <h2><%= @event.name %></h2>
  </div>
    <div>
  <div class="col-12 d-flex justify-content-center my-3 pb-3">
      <%= attachment_image_tag(@event, :image, fallback: "no_img.png", size: "250x250", class: 'mx-auto d-block') %>
  </div>
  <div class="col-12  justify-content-center mb-3">
  </div>
  <table class="col-10 mx-auto mb-3 table text-white">
    <caption class="text-white">
      <h3 class="font-weight-bold"><i class="fab fa-dribbble"></i> イベント基本情報</h3>
      <p class="small text-right text-primary"><u>情報が違うと思ったら？</u></p>
    </caption>
    <tr>
      <td>
        <p class="small mb-1 font-weight-bold ">
          <i class="fas fa-map-marker-alt"></i> 開催コート
        </p>
        <div class="pl-3">
            <%= link_to(@event.court.name, court_path(@event.court.id)) %><br>
            <%= @event.court.address %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <p class="small mb-1 font-weight-bold ">
          <i class="fas fa-user"></i>
        </p>
        <div class="pl-3">
          <%= @event.user.name %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <p class="small mb-1 font-weight-bold">
          <i class="far fa-clock"></i> イベント時間
        </p>
        <span class="pl-3">
          <%= @event.return_event_time %>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <p class="small mb-1 font-weight-bold">
          <i class="fas fa-envelope"></i> 連絡先
        </p>
        <span id="contact" class="pl-3">
          <%= @event.contact %>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <p class="small mb-1 font-weight-bold">
          <i class="fas fa-exclamation-circle"></i> 参加条件
        </p>
        <span class="pl-3">
          <%= @event.condition %>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <p class="small mb-1 font-weight-bold">
          <i class="fas fa-comment-dots"></i> イベント説明
        </p>
        <span class="pl-3">
          <%= @event.description %>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <p class="small mb-1 font-weight-bold">
          <i class="fas fa-edit"></i> イベント作成日
        </p>
        <span class="pl-3">
          <%= @event.formatted_created_at %>
        </span>
      </td>
    </tr>
  </table>

  </div>
</div>


