<!--court = @court-->

<div class="col-12 justify-content-center my-3 py-3 text-white">
    <h2><%= court.name %></h2>
  </div>
  <div class="col-12 d-flex justify-content-center my-3 pb-3">
    <%= attachment_image_tag(court, :image, fallback: "no_img.png", size: "250x250", class: 'mx-auto d-block') %>
  </div>
  <div class="col-12  justify-content-center mb-3">
  </div>
  <table class="col-10 mx-auto mb-3 table text-white">
    <caption class="text-white">
      <h3 class="font-weight-bold"><i class="fab fa-dribbble"></i> コート基本情報</h3>
      <% if controller_name == 'show' %>
        <p class="small text-right text-primary"><u>情報が違うと思ったら？</u></p>
      <% end %>
    </caption>
    <tr>
      <td>
        <p class="small mb-1 font-weight-bold ">
          <i class="fas fa-map-marker-alt"></i> 住所
        </p>
        <span class="pl-3">
          <%= court.address %>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <p class="small mb-1 font-weight-bold ">
          <i class="fas fa-warehouse"></i> コートタイプ
        </p>
        <span class="pl-3">
          <%= court.court_type_i18n %>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <p class="small mb-1 font-weight-bold">
          <i class="far fa-clock"></i> 営業時間
        </p>
        <span class="pl-3">
          <%= court.return_business_hour %>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <p class="small mb-1 font-weight-bold">
          <i class="fas fa-comment-dots"></i> 補足
        </p>
        <span class="pl-3">
          <%= court.supplement %>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <p class="small mb-1 font-weight-bold">
          <i class="fas fa-link"></i> リンク
        </p>
        <span class="pl-3">
          <%= court.url %>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <p class="small mb-1 font-weight-bold">
          <i class="fas fa-yen-sign"></i> 料金
        </p>
        <span class="pl-3">
          <%= court.price %>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <p class="small mb-1 font-weight-bold">
          <i class="fas fa-tags"></i> タグ
        </p>
        <div class="mt-2">
          <% Tag.pluck(:name).each do |tag_name| %>
            <div class="d-inline-block mb-2 no_change_color_disabled">
              <%= check_box_tag(tag_name, value= 1, checked= court.has_tag?(tag_name), {readonly: true}) %>
              <%= label_tag(tag_name) %>
            </div>
          <% end %>
        </div>

      </td>
    </tr>
  </table>
  <div class="col-12  justify-content-center mb-3">
    <p class="font-weight-bold mb-3">
      <i class="fas fa-map-marked-alt"></i>　マップ情報
    </p>
    <div id="map" class="height-adjustment mb-3"></div>
  </div>