<div class="row filter-black text-white d-flex flex-column">
  <div class="col-12 justify-content-center mt-3 pt-3 text-white">
    <h2>確認画面</h2>
    <p class="mb-0">
      コートが掲載されるプレビューです。<br>
      問題がないか確認をお願いします。
    </p>
  </div>
  <%= form_with(model: @court, url: courts_path, method: 'post', id: 'form', local: true) do |f|%>
      <%= f.hidden_field(:user_id, value: current_user.id) %>
      <%= f.hidden_field(:area_id, value: @court.area_id) %>
      <%= f.hidden_field(:name, value: @court.name) %>
      <%= f.hidden_field(:latitude, value: @court.latitude) %>
      <%= f.hidden_field(:longitude, value: @court.longitude) %>
      <%= f.hidden_field(:open_time, value: @court.open_time) %>
      <%= f.hidden_field(:close_time, value: @court.close_time) %>
      <%= f.hidden_field(:supplement, value: @court.supplement) %>
      <%= f.hidden_field(:address, value: @court.address) %>
      <%= f.hidden_field(:url, value: @court.url) %>
      <%= f.hidden_field(:size, value: @court.size) %>
      <%= f.hidden_field(:price, value: @court.price) %>
      <%= f.hidden_field(:court_type, value: @court.court_type) %>
      <%= f.hidden_field(:image, value: @court.return_image_id) %>
      <%= f.hidden_field(:business_status, value: true) %>
      <%= f.hidden_field(:confirmation_status, value: false) %>
      <%= hidden_field_tag(:tag_ids, @tag_ids, form: 'form') %>
  <% end %>

  <%= render(partial: 'court-detail', locals: {court: @court, tag_ids: @tag_ids}) %>

  <div class="pb-3 d-flex justify-content-start px-3">
    <%= submit_tag('この内容で投稿する', class: 'btn btn-sm btn-success d-block', form: 'form') %>
    <%= link_to('内容を修正する','javascript:history.back()', class: 'btn btn-danger btn-sm d-block ml-auto') %>
  </div>
</div>
<input type="hidden" id="lng" value="<%= @court.longitude %>">
<input type="hidden" id="lat" value="<%= @court.latitude %>">

