<div class="row bg-white justify-content-center">
  <div class="col-12  justify-content-center">
    <h2><%= @court.name %></h2>
    <div>
      <%= attachment_image_tag(@court, :image, fallback: "no_img.jpg", size: "250x250") %>
    </div>
  </div>
  <div class="col-12  justify-content-center">
    <h2>コート基本情報</h2>
    <h4>情報が違うと思ったら？</h4>
  </div>
  <div class="col-12  justify-content-center">
    <%= @court.address %>
    <%= @court.return_business_hour %>
    <%= @court.url %>
    <%= @court.price %>
    <% @court.fetch_tags.each do |tag| %>
      <%= tag.name %>
    <% end %>
  </div>
  <div class="col-12  justify-content-center">
    マップ情報
    <div id="map" class="height-adjustment"></div>
  </div>
  <div class="col-12  justify-content-center">
    <h5>レビュー</h5>
    <h6>総合レビュー点数</h6>
    <div class="evaluation" data-score=<%= @court.ave_total_points_reviews %>></div>
    <p>アクセス</p>
    <div class="evaluation" data-score=<%= @court.ave_accessibility_reviews %>></div>
    <p>マナー</p>
    <div class="evaluation" data-score=<%= @court.ave_security_reviews %>></div>
    <p>設備</p>
    <div class="evaluation" data-score=<%= @court.ave_quality_reviews %>></div>
    <div>
      <%= link_to('レビュー一覧を見る', court_court_reviews_path(@court.id)) %>
    </div>
    <div>
      <%= link_to('レビューを投稿する', new_court_court_review_path(@court.id)) %>
    </div>
  </div>
</div>
<input type="hidden" id="lat" value="<%= @court.latitude %>">
<input type="hidden" id="lng" value="<%= @court.longitude %>">