<div class="row justify-content-center">
  <div class="col-12 filter-black justify-content-center">
    <div>コート検索結果</div>
    <div class="accordion" id="accordion-4">
      <div class="card bg-light">
        <div class="card-header" id="header-4a">
          <button class="btn btn-link text-success font-weight-bold" type="button"
              data-toggle="collapse" data-target="#card-4a"
              aria-expanded="true" aria-controls="card-4a">
            絞り込み
          </button>
        </div>
        <div id="card-4a" class="collapse" aria-labelledby="header-4a" data-parent="#accordion-4">
          <%= form_with(url: courts_path, method: 'get', id: 'narrow_search') do |f| %>
            <%= f.submit '絞り込む' %>
          <% end %>


          <%= form_with(url: courts_path, method: 'get') do |f| %>
            <div class="card-body">
              地区
              <%= f.select(:prefecture_id, Prefecture.all.collect { |pref| [pref.name, pref.id]}, {prompt: "県を選択"}, {id: 'prefs_select', onchange: 'Rails.fire(this.form,"submit")'}) %>
            </div>
          <% end %>

            <div class="card-body" id="areas_select">
              <%= render(partial: 'areas', locals: {areas: @areas}) %>
            </div>

        </div>
      </div>
    </div>
    <% if @courts.nil? %>
      <div>検索条件に一致するコートがありません</div>
    <% else %>
      <% @courts.each do |court| %>
        <div class="row bg-success mb-2">
          <%= court.name %><br>
          <%= court.fetch_pref_name %><br>
          <%= court.court_type %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>