<div class="row justify-content-center">
  <div class="col-12 filter-black justify-content-center">
    <div class="text-white py-3 d-flex justify-content-start">
      <div class="align-text-bottom">コート検索結果</div>
      <%= submit_tag('絞り込む', {class:'btn btn-sm  btn-success d-block ml-auto', form: 'narrow_search'}) %>
    </div>

    <div class="accordion mb-2" id="search_accordion">
      <div class="card bg-light">
        <div class="card-header" id="header-4a">
          <button class="btn btn-link text-success font-weight-bold" type="button" data-toggle="collapse" data-target="#serach_bar">
            詳細検索
          </button>
        </div>
        <div id="serach_bar" class="collapse" data-parent="#search_accordion">
          <div class="card-body">
            <%= form_with(model: Prefecture, url: courts_path, method: 'get') do |f| %>
                <p><i class="fas fa-map-marked-alt"></i>　地区</p>
                <%= f.select(:id, Prefecture.all.collect { |pref| [pref.name, pref.id]}, {selected: params.dig(:prefecture, :id),prompt: "県を選択"}, \
                            {id: 'prefs_select', onchange: 'Rails.fire(this.form,"submit")'}) %>
            <% end %>
            <div id='areas_select'>
              <%= render(partial: 'layouts/areas', locals: {areas: @areas}) %>
            </div>
          </div>
          <%= form_with(model: Court, url: courts_path, method: 'get',local: true, id: 'narrow_search') do |f| %>
            <div class="card-body">
              <p><i class="far fa-clock"></i> 時間</p>
              <%= f.label(:open_time,'開始時間') %>
              <%= f.time_select(:open_time, {include_blank: true, ignore_date: true, minute_step: 15}, {form: 'narrow_search'}) %>
              <%= f.label(:close_time,'終了時間') %>
              <%= f.time_select(:close_time, {include_blank: true, ignore_date: true, minute_step: 15}, {form: 'narrow_search'}) %>
            </div>
            <div class="card-body">
              <p><i class="fas fa-warehouse"></i>　コートタイプ</p>
              <!--リファクタリング、確認中を排除したら？-->
              <%= f.collection_check_boxes(:court_types, Court.court_types_i18n.except(:checking), :first, :last, {include_hidden: false,checked: false}, {form: 'narrow_search'}) %>
            </div>
          <% end %>

          <div class="card-body">
            <p><i class="fas fa-tags"></i>　タグ</p>
            <%= collection_check_boxes(Tag, :tag_ids, Tag.all.collect, :id, :name, {}, {form: 'narrow_search'}) %>
          </div>
      </div>
    </div>

    <% if @courts.blank? %>
      <div>検索条件に一致するコートがありません</div>
    <% else %>
      <% @courts.each do |court| %>
        <div class="row bg-light mb-3">
          <div class="pl-3 py-3">
            <%= attachment_image_tag(court, :image, fallback: "no_img.png", size: "75x75") %>
          </div>
          <div class="pl-3 mt-3">
            <p class="text-center font-weight-bold align-middle mb-1">
              <%= link_to(court.name, court_path(court.id)) %>
            </p>
            <p class="mb-1">
              <i class="fas fa-map-marked-alt"></i>：<%= court.fetch_pref_name %>
              　<i class="fas fa-warehouse"></i>：<%= court.court_type_i18n %>
            </p>
            <!--リファクタリング-->
            <p class="mb-0">
              <i class="far fa-clock"></i>：<%= court.return_business_hour %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>