<div class="row justify-content-center">
  <div class="col-12 filter-black d0 text-white justify-content-center py-5">
    <h1>Hoopers!</h1>
    <p class="text-white text-center">
      バスケコート<br>
      バスケイベント<br>
      が探せるWEBサイト！
    </p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="card bg-transparent col-12">

    <div class="d-flex mt-5">
      <div id="court-tab" class="w-50 bg-orange text-center rounde py-2">
        コートを探す
      </div>
      <div id="event-tab" class="w-50 bg-lightblue text-center rounded py-2">
        <div class="bg-lightblue">イベントを探す</div>
      </div>
    </div>

    <div class="tab-content">
      <div class="tab-contents bg-orange rounded" id="court_card">
          <%= form_with(url: courts_path, method: 'get', local: true, class: 'form-group pt-4 d-flex flex-column pb-2', id: 'keyword_form') do |f| %>
            <p class="mb-1 align-self-center">コート名から探す</p>
            <div class="d-flex justify-content-center">
              <%= f.text_field(:keyword, placeholder: 'キーワードを入力', class:'form-control w-50 d-inline v-align') %>
              <%= button_tag(type: 'submit', form: 'keyword_form', class: 'btn btn bg-success v-align text-white') do %>
                <i class="fas fa-search"></i>
              <% end %>
            </div>
          <% end %>

          <%= form_with(url: map_search_courts_path, local: true, method: 'get', id: 'location_form', class: 'form-group d-flex flex-column pb-2') do |f| %>
            <%= f.hidden_field(:latlng, {id: "latlng"}) %>
            <p class="mb-1 align-self-center"><i class="fas fa-map-marker-alt"></i> 現在地から探す</p>
            <div class="d-flex justify-content-center">
              <%= button_tag(type: 'submit', id: 'location_btn', form: 'location_form', class: 'btn btn-success') do %>
                位置情報を取得
              <% end %>
            </div>
          <% end %>

          <%= form_with(model: Prefecture, url: courts_path, method: 'get', local: true, id: 'area_form', class: 'form-group d-flex flex-column pb-4') do |f| %>
            <p class="mb-1 align-self-center"><i class="fas fa-map-marked-alt"></i> 地域から探す</p>
            <div class="d-flex justify-content-center">
              <%= f.select(:id, Prefecture.all.collect { |pref| [ pref.name, pref.id]}, {prompt: '地域を選択'}, class: 'form-control w-50 v-align') %>
              <%= button_tag(type: 'submit', form: 'area_form', class: 'btn btn-success v-align') do %>
                <i class="fas fa-search"></i>
              <% end %>
            </div>
          <% end %>
      </div>

      <div class="tab-contents is_active bg-lightblue rounded " id="event_card">
        <div class="d-flex justify-content-center py-4">
          <%= button_tag(events_path, class: 'btn btn-success d-block') do %>
            最新のイベントを表示
          <% end %>
        </div>

        <%= form_with(model: Event, url: events_path, method: 'get', local: true, class: 'form-group d-flex flex-column pb-4', id: 'time_form') do |f| %>
          <p class="mb-1 align-self-center"><i class="far fa-clock"></i> 時間で探す</p>
          <div class="d-flex flex-column">
            <%= f.date_field(:date, {class: 'form-control w-50 align-self-center mb-1'}) %>
            <div class="align-self-center">
              <%= f.time_select(:open_time, {use_month_numbers: true, include_blank: true, ignore_date: true, minute_step: 15}, {class: 'form-select border'}) %> ～
              <%= f.time_select(:close_time, {use_month_numbers: true, include_blank: true, ignore_date: true, minute_step: 15}, {class: 'form-select border'}) %>
              <%= button_tag(form: 'time_form', class: 'btn btn-success') do %>
                <i class="far fa-clock"></i> 検索
              <% end %>
            </div>
          </div>
        <% end %>
        <div>
          <%= link_to( 'お気に入りコートから探す', court_favorites_path, class: 'btn btn-sm d-block m-auto') %>
        </div>
        <%= link_to('コートからイベント情報を見るには？', root_path(anchor: 'court_card'), class: 'btn btn-sm d-block m-auto pb-3') %>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2 d-flex justify-content-center">
  <div class="bg-secondary" style="height: 100px; width: 200px;">
    <%= link_to('コート情報募集中', address_courts_path) %>
  </div>
</div>
<div class="row mt-2 d-flex justify-content-center">
  <div class="bg-danger" id="how_to_use" style="height: 1000px; width: 200px;">
    つかいかた
  </div>
</div>