<div class="row justify-content-center">
  <div class="col-12 filter-black d0 text-white justify-content-center py-5">
    <h1>Hoopers!</h1>
    <p class="text-white text-center">
      バスケコート<br>
      バスケイベント<br>
      が探せるWEBサイト！
    </p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="card bg-transparent col-12">

    <div class="d-flex mt-5">
      <div id="court-tab" class="w-50 bg-orange text-center py-2">
        コートを探す
      </div>
      <div id="event-tab" class="w-50 bg-lightblue text-center py-2">
        <div class="bg-lightblue">イベントを探す</div>
      </div>
    </div>

    <div class="tab-content">
      <div class="tab-contents is_active bg-orange justify-content-center rounded" id="court_card">
          <%= form_with(url: courts_path, method: 'get', local: true, class: 'form-group pt-4', id: 'keyword_form') do |f| %>
            <p>コート名から探す</p>
            <%= f.text_field(:keyword, placeholder: 'キーワードを入力') %>
            <%= button_tag(type: 'submit', form: 'keyword_form', class: 'btn btn-sm') do %>
              <i class="fas fa-search"></i>
            <% end %>
          <% end %>
          
          <%= form_with(url: map_search_courts_path, local: true, method: 'get', id: 'location_form', class: 'form-group') do |f| %>
            <%= f.hidden_field(:latlng, {id: "latlng"}) %>
            <%= button_tag(type: 'submit', id: 'location_btn', form: 'location_form', class:'d-block m-auto') do %>
              <i class="fas fa-map-marker-alt"></i> 現在地から探す
            <% end %>
          <% end %>
          
          <%= form_with(model: Prefecture, url: courts_path, method: 'get', local: true, id: 'area_form', class: 'form-group pb-4 d-flex justify-content-center') do |f| %>
            <%= button_tag(type: 'submit', form: 'area_form', class: 'btn btn-sm') do %>
              <i class="fas fa-map-marked-alt"></i>　地域から探す
            <% end %>
            <%= f.select(:id, Prefecture.all.collect { |pref| [ pref.name, pref.id]}, {prompt: '地域を選択'}) %>
          <% end %>
      </div>

      <div class="tab-contents bg-lightblue rounded " id="event_card">
        <div>
          <%= link_to('最新のイベントを表示する', events_path, class: 'btn btn-sm d-block pt-4') %>
        </div>
        <%= form_with(model: Event, url: events_path, method: 'get', local: true, class: 'form-group d-flex justify-content-center', id: 'time_form') do |f| %>
          <%= button_tag(form: 'time_form', class: 'btn btn-sm') do %>
            <i class="far fa-clock"></i>　時間で探す
          <% end %>
          <div class="d-flex flex-column">
            <%= f.date_field(:date, {class: 'form-select'}) %>
            <div class=>
              <%= f.time_select(:open_time, {use_month_numbers: true, include_blank: true, ignore_date: true, minute_step: 15}, {class: 'form-select'}) %> ～
              <%= f.time_select(:close_time, {use_month_numbers: true, include_blank: true, ignore_date: true, minute_step: 15}, {class: 'form-select'}) %>
            </div>
          </div>
        <% end %>
        <div>
          <%= link_to( 'お気に入りコートから探す', court_favorites_path, class: 'btn btn-sm d-block m-auto') %>
        </div>
        <%= link_to('コートからイベント情報を見るには？', root_path(anchor: 'court_card'), class: 'btn btn-sm d-block m-auto pb-3') %>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2 d-flex justify-content-center">
  <div class="bg-secondary" style="height: 100px; width: 200px;">
    <%= link_to('コート情報募集中', address_courts_path) %>
  </div>
</div>
<div class="row mt-2 d-flex justify-content-center">
  <div class="bg-danger" id="how_to_use" style="height: 1000px; width: 200px;">
    つかいかた
  </div>
</div>