<div class="row filter-black flex-column">
  <div class="col-12 d0 text-white justify-content-center">
    <h1 class="my-3 text-center"><i class="fab fa-dribbble"></i> Hoopers!</h1>
    <p class="text-white text-center">
      バスケコート・バスケイベントが<br>
      探せるWEBサイト！
    </p>
  </div>

  <div class="col-12 mb-5 justify-content-center">
    <div class="d-flex mt-5">
      <div id="court-tab" class="w-50 bg-orange text-center rounded py-2">
        コートを探す
      </div>
      <div id="event-tab" class="w-50 bg-lightblue text-center rounded py-2">
        <div class="bg-lightblue">イベントを探す</div>
      </div>
    </div>

    <div class="tab-content">
      <div class="tab-contents bg-orange rounded" id="court_card">
          <%= form_with(url: courts_path, method: 'get', local: true, class: 'form-group pt-4 d-flex flex-column pb-2', id: 'keyword_form') do |f| %>
            <p class="mb-1 align-self-center">コート名から探す</p>
            <div class="d-flex justify-content-center">
              <%= f.text_field(:keyword, placeholder: 'キーワードを入力', class:'form-control w-50 d-inline v-align') %>
              <%= button_tag(type: 'submit', form: 'keyword_form', class: 'btn btn bg-success v-align text-white') do %>
                <i class="fas fa-search"></i>
              <% end %>
            </div>
          <% end %>

          <%= form_with(url: map_search_courts_path, local: true, method: 'get', id: 'location_form', class: 'form-group d-flex flex-column pb-2') do |f| %>
            <%= f.hidden_field(:latlng, {id: "latlng"}) %>
            <p class="mb-1 align-self-center"><i class="fas fa-map-marker-alt"></i> 現在地から探す</p>
            <div class="d-flex justify-content-center">
              <%= button_tag(type: 'submit', id: 'location_btn', form: 'location_form', class: 'btn btn-success') do %>
                位置情報を取得
              <% end %>
            </div>
          <% end %>

          <%= form_with(model: Prefecture, url: courts_path, method: 'get', local: true, id: 'area_form', class: 'form-group d-flex flex-column pb-4') do |f| %>
            <p class="mb-1 align-self-center"><i class="fas fa-map-marked-alt"></i> 地域から探す</p>
            <div class="d-flex justify-content-center">
              <%= f.select(:id, Prefecture.all.collect { |pref| [ pref.name, pref.id]}, {prompt: '地域を選択'}, class: 'form-control w-50 v-align') %>
              <%= button_tag(type: 'submit', form: 'area_form', class: 'btn btn-success v-align') do %>
                <i class="fas fa-search"></i>
              <% end %>
            </div>
          <% end %>
      </div>

      <div class="tab-contents is_active bg-lightblue rounded " id="event_card">
        <div class="d-flex justify-content-center py-4">
          <%= button_tag(events_path, class: 'btn btn-success d-block') do %>
            最新のイベントを表示
          <% end %>
        </div>

        <%= form_with(model: Event, url: events_path, method: 'get', local: true, class: 'form-group d-flex flex-column pb-3', id: 'time_form') do |f| %>
          <p class="mb-1 align-self-center"><i class="far fa-clock"></i> 時間で探す</p>
          <div class="d-flex flex-column">
            <%= f.date_field(:date, {class: 'form-control w-50 align-self-center mb-1'}) %>
            <div class="align-self-center">
              <%= f.time_select(:open_time, {use_month_numbers: true, include_blank: true, ignore_date: true, minute_step: 15}, {class: 'form-select border'}) %> ～
              <%= f.time_select(:close_time, {use_month_numbers: true, include_blank: true, ignore_date: true, minute_step: 15}, {class: 'form-select border'}) %>
              <%= button_tag(form: 'time_form', class: 'btn btn-sm btn-success') do %>
                <i class="far fa-clock"></i> 検索
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="d-flex justify-content-center pb-4">
          <%= link_to( 'お気に入りコートから探す', court_favorites_path, class: 'btn btn-success') %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 my-5 d-flex justify-content-center">
    <%= link_to(address_courts_path) do %>
      <div class="plate">
        <div class="bg-orange plate-tab text-white d-flex flex-column">
          <p class="mt-1 mb-0 align-self-center">コート情報募集中！！</p>
          <p class="small align-self-center">あなたの周りのコート情報まってます！</p>
        </div>
        <div class="d-flex plate-content align-items-end">
          <div class="font-weight-bold text-white bg-orange w-100">
            <p class="text-center mb-1 mt-1">
              クリックしてコート情報を提供！
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <div class="col-12 my-5 d-flex justify-content-center">
    <div class="bg-danger" id="how_to_use" style="height: 1000px; width: 200px;">
      つかいかた
    </div>
  </div>
</div>