<div class="row filter-black flex-column">
  <div class="col-10 mb-3 text-white align-self-center border-bottom border-primary">
    <h4 class="font-weight-bold py-3"><%= @court.name %>のレビュー</h4>
    <h5 class="text-white py-3">
      <i class="far fa-star"></i> 総合評価
    </h5>
  </div>
  <div class="col-10 pb-3 text-white">
    <div class="pl-3">
      <p class="samll mb-0">
        総合レビュー点数 <span class="font-weight-bold"><%= @court.ave_total_points_reviews %></span>
      </p>
      <div class="evaluation mb-3 pl-3" id="eval_total_in_detail" data-score=<%= @court.ave_total_points_reviews %>></div>
      <div class="pl-3">
        <p class="font-smaller mb-0">
          <i class="fas fa-walking"></i> アクセス <span class="font-weight-bold"><%= @court.ave_accessibility_reviews %></span>
        </p>
        <div class="evaluation mb-2 pl-3 small-stars" id="eval_total_in_detail" data-score=<%= @court.ave_accessibility_reviews %>></div>
        <p class="font-smaller mb-0">
          <i class="fas fa-smile"></i> マナー <span class="font-weight-bold"><%= @court.ave_security_reviews %></span>
        </p>
        <div class="evaluation mb-2 pl-3 small-stars" id="eval_total_in_detail" data-score=<%= @court.ave_security_reviews %>></div>
        <p class="font-smaller mb-0">
          <i class="fas fa-building"></i> 設備 <span class="font-weight-bold"><%= @court.ave_quality_reviews %></span>
        </p>
        <div class="evaluation mb-2 pl-3 small-stars" id="eval_total_in_detail" data-score=<%= @court.ave_quality_reviews %>></div>
      </div>
    </div>
  </div>
  <div class="col-10 pb-3 text-white d-flex justify-content-end pt-3">
    <% if user_signed_in? && @user_review %>
      <%= link_to('レビューを編集する', edit_court_court_review_path(court_id: @court.id, id: @user_review.id), class: 'btn btn-sm btn-success align-self-end') %>
    <% else %>
      <%= link_to('レビューを投稿する', new_court_court_review_path(court_id: @court.id), class: 'btn btn-sm btn-success align-self-end') %>
    <% end %>
  </div>

  <div class="col-10 pb-3 text-white border-bottom border-primary align-self-center">
    <h5>みんなのレビュー</h5>
  </div>
  <% @court_reviews.each do |review| %>
    <div class="col-10 mb-3 py-3 align-self-center text-white">
      <p class="mb-1">
        <% if review.user.is_active %>
          <i class="fas fa-user"></i>　<%= review.user.name %>
        <% else %>
          <i class="fas fa-user"></i>　退会済みユーザー
        <% end %>
      </p>
      <div class="pl-3">
        <div class="pb-1">
          総合点：<div class="evaluation small-stars d-inline" data-score=<%= review.total_points %>></div>
        </div>
        <div class="pl-4">
          <div class="pb-1">
            <i class="fas fa-walking"></i><div class="evaluation mb-2 pl-3 smaller-stars d-inline" data-score=<%= review.accessibility %>></div>
          </div>
          <div class="pb-1">
            <i class="fas fa-smile"></i><div class="evaluation mb-2 pl-3 smaller-stars d-inline" data-score=<%= review.security %>></div>
          </div>
          <div class="pb-1">
            <i class="fas fa-building"></i><div class="evaluation mb-2 pl-3 smaller-stars d-inline" data-score=<%= review.quality %>></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

