<div class="row justify-content-center">
  <div class="col-12 bg-white justify-content-center">

    <h2>レビュー投稿画面</h2>
    <h3>星をクリックでレビュー</h3>
    <%= form_with(model: @court_review, url: court_court_reviews_path, local: true) do |f| %>
      <%= f.label(:accessibility, 'アクセス') %>
      <%= f.hidden_field(:accessibility, val: 'score') %>
      <div id="eval_accessibility"></div>
      <%= f.label(:security, 'マナー') %>
      <%= f.hidden_field(:security, val: 'score') %>
      <div id="eval_security"></div>
      <%= f.label(:quality, '設備') %>
      <%= f.hidden_field(:quality, val: 'score') %>
      <div id="eval_quality"></div>
      <%= f.submit('投稿') %>
      <%= f.hidden_field(:court_id, val: params[:court_id]) %>
      <%= f.hidden_field(:user_id, val: current_user.id) %>
    <% end %>
  </div>
</div>

