<% if courts.blank? %>
  <div class="bg-white text-center mb-5"><%= no_result_text %></div>
<% else %>
  <% courts.each do |court| %>
    <div class="row bg-light mb-3">
      <div class="pl-3 py-3">
        <%= attachment_image_tag(court, :image, fallback: "no_img.png", size: "75x75") %>
      </div>
      <div class="pl-3 mt-3">
        <p class="text-center font-weight-bold align-middle mb-1">
          <%= link_to(court.name, court_path(court.id)) %>
        </p>
        <p class="mb-0">
          <i class="fas fa-map-marked-alt"></i>：<%= court.fetch_pref_name %>
          　<i class="fas fa-warehouse"></i>：<%= court.court_type_i18n %>
        </p>
        <p class="mb-3">
          <i class="far fa-clock"></i>：<%= court.return_business_hour %>
          <%= link_to('イベント確認', events_path(fav_court_id: court.id), class: 'btn btn-sm btn-success') %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>