<div class="bg-light mb-4">
  <div id="search_bar" class="collapse">

    <div class="card-body">
      <div class="d-flex justify-content-start">
        <%= link_to('全て表示', path, class: 'mb-3 btn btn-sm btn-success d-block') %>
        <%= submit_tag('絞り込む', {class:'btn btn-sm  btn-success d-block ml-auto mb-3', form: 'narrow_search'}) %>
      </div>
      <%= form_with(model: Prefecture, url: path, method: 'get', class: 'form-group') do |f| %>
      <div class="h-50px mb-3 border-top border-bottom d-flex justify-content-center">
        <h4 class="align-self-center mb-0"><i class="fas fa-map-marked-alt"></i>　地区</h4>
      </div>
        <%= f.select(:id, Prefecture.all.collect { |pref| [pref.name, pref.id]}, {selected: params.dig(:prefecture, :id), prompt: "県を選択", include_blank: true}, \
                    {id: 'prefs_select',class: 'mb-2 border',  onchange: 'Rails.fire(this.form,"submit")'}) %>
        <%= f.hidden_field(:id, value: @prefecture_id, form: 'narrow_search', id: 'hidden_pref_id') %>
        <div id='areas_select'>
          <%= render(partial: 'layouts/areas', locals: {areas: @areas}) %>
        </div>
      <% end %>

      <% if model.name == 'Court' %>
        <%= form_with(model: model, url: path, method: 'get',local: true, id: 'narrow_search', class:'form-group') do |f| %>
          <div class="h-50px mb-3 border-top border-bottom d-flex justify-content-center">
            <h4 class="align-self-center mb-0"><i class="far fa-clock"></i> 時間</h4>
          </div>
          <div>
            <%= f.label(:open_time,'開始時間', class: 'form-label') %>
            <%= f.time_select(:open_time, {include_blank: true, ignore_date: true, minute_step: 15}, {class: 'border', form: 'narrow_search'}) %>
          </div>
          <div>
            <%= f.label(:close_time,'終了時間', class: 'form-label') %>
            <%= f.time_select(:close_time, {include_blank: true, ignore_date: true, minute_step: 15}, {class: 'border', form: 'narrow_search'}) %>
          </div>
          <div class="h-50px mb-3 border-top border-bottom d-flex justify-content-center">
            <h4 class="align-self-center mb-0"><i class="fas fa-warehouse"></i>　コートタイプ</h4>
          </div>
          <% model.court_types_i18n.each do |key, val| %>
            <div class="d-inline-block">
              <%= f.check_box(:court_types, {name: "court[court_types][]", include_hidden: false, checked: false}, key) %>
              <% if key == 'checking' %>
                <%= f.label(:court_types, "#{val}も含める") %>
              <% else %>
                <%= f.label(:court_types, val) %>
              <% end %>
            </div>
          <% end %>
        <% end %>
          <div class="h-50px mb-3 border-top border-bottom d-flex justify-content-center">
            <h4 class="align-self-center mb-0"><i class="fas fa-tags"></i>　タグ</h4>
          </div>
          <% Tag.all.each do |tag| %>
            <div class="d-inline-block">
              <%= check_box(Tag, :tag_ids, {class: 'ml-3', form: 'narrow_search', name: 'Tag[tag_ids][]', include_hidden: false}, tag.id) %>
              <%= label_tag(:tag_ids, tag.name) %>
            </div>
          <% end %>

      <% elsif model.name == 'Event' %>
        <%= form_with(model: model, url: path, method: 'get', local: true, id: 'narrow_search') do |f| %>
          <div class="h-50px mb-3 border-top border-bottom d-flex justify-content-center">
            <h4 class="align-self-center mb-0"><i class="far fa-clock"></i> 時間</h4>
          </div>
          <div>
            <div>
              <%= f.datetime_select(:open_time, {use_month_numbers: true, include_blank: true, minute_step: 15}, {class: 'border', form: 'narrow_search'}) %>
            </div>
            <div class="text-center my-2">
              以降の時間のイベント
            </div>
            <div>
              <%= f.datetime_select(:close_time, {use_month_numbers: true, include_blank: true, minute_step: 15}, {class: 'border', form: 'narrow_search'}) %>
            </div>
            <div class="text-center my-2">
              までの時間のイベント
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>