<!DOCTYPE html>
<html>
  <head>
    <title>Hooper</title>
    <meta name="viewport" content="width=devise-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLEMAP_API_KEY'] %>&callback=noticeLoadCompletion">
    </script>
    <script src="https://kit.fontawesome.com/ce3ce14c78.js" crossorigin="anonymous"></script>
  </head>

  <body class="background-img" data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <header>
      <nav class="navbar bg-secondary navbar-dark navbar-expand-sm fixed-top">
        <a class="navbar-brand" href="/">Hoopers(fix)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler1">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarToggler1">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to(root_path, class: 'text-white') do %>
                トップページ
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to(root_path(anchor: 'how_to_use',), class: 'text-white') do %>
                <i class="far fa-question-circle"></i>　つかいかた
              <% end %>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to(address_courts_path) do %>
                  <i class="fas fa-edit"></i>　コート情報提供
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to(address_events_path) do %>
                  <i class="fas fa-users"></i>　イベント作成
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to(mypage_users_path) do %>
                  <i class="fas fa-user"></i>　マイページ
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to(destroy_user_session_path, method: :delete) do %>
                  <i class="fas fa-sign-out-alt"></i>　ログアウト
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to(new_user_session_path) do %>
                  <i class="fas fa-sign-in-alt"></i> ログイン
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to(new_user_registration_path) do %>
                  <i class="fas fa-user-plus"></i> ユーザー登録
                <% end %>
              </li>
            <% end %>
              <li class="nav-item">
                <%= link_to(inqury_path) do %>
                  <i class="fas fa-info-circle"></i>　問い合わせ
                <% end %>
              </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="fixed-padding">
        <%= render(partial: "/layouts/err-msg") %>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <div class="height-adjustment"></div>
    <%= render(partial: 'layouts/footer', locals: {event: @event, court: @court}) %>
  </body>
</html>
