<!DOCTYPE html>
<html>
  <head>
    <title>Hooper</title>
    <meta name="viewport" content="width=devise-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="background-img">
    <header>
      <nav class="navbar bg-secondary navbar-dark navbar-expand-sm">
        <a class="navbar-brand" href="/">Hoopers(fix)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler1">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarToggler1">
          <ul class="navbar-nav">
            <li class="nav-item">
              <span class="text-white">つかいかた</span>
            </li>
            <li class="nav-item">コート情報を提供</li>
            <li class="nav-item">ログイン</li>
            <li class="nav-item">ユーザー登録</li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
